<div id="topBar" class="bg-gray-500 text-white p-1 flex justify-between items-center">
	<button class="px-3 py-1 rounded-md text-sm font-medium hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">
		Settings</button>
	<!--<select id="profileMenu">Profile</select>-->
	<div class="dropdown-container relative ">
		<button id="profileButton" class="px-3 py-1 rounded-md text-sm font-medium hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">
			Profile</button>

		<!-- The container for the options, hidden by default -->
		<div id="dropdownMenu" class="absolute right-0 mt-2 w-48 origin-top-right rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none bg-gray-500 ">
			<button onclick="window.location.href='/profile'" class="bg-gray-500 block w-full text-left px-4 py-2 text-sm text-white hover:bg-gray-700 rounded-md">
				View Profile</button>
			<button onclick="window.location.href='/logout'" class="bg-gray-500 block w-full text-left px-4 py-2 text-sm text-white hover:bg-gray-700 rounded-md">
				Log out</button>
		</div>
	</div>
</div>
<div class="flex flex-col justify-center items-center h-screen gap-5 ">
<button id="1" onclick="window.location.href='/onlineGame-1'" class="bg-indigo-600 hover:bg-indigo-700 text-white font-bold text-xl py-3 px-8 rounded-lg transition-colors duration-300 min-w-[250px]">
	OnlineGame 1</button>
<button id="2" onclick="window.location.href='/onlineGame-2'" class="bg-indigo-600 hover:bg-indigo-700 text-white font-bold text-xl py-3 px-8 rounded-lg transition-colors duration-300 min-w-[250px]">
	OnlineGame 2</button>
<button id="3" onclick="window.location.href='/localGame'" class="bg-indigo-600 hover:bg-indigo-700 text-white font-bold text-xl py-3 px-8 rounded-lg transition-colors duration-300 min-w-[250px]">
	LocalGame</button>
<button id="4" onclick="window.location.href='/hotSeat'" class="bg-indigo-600 hover:bg-indigo-700 text-white font-bold text-xl py-3 px-8 rounded-lg transition-colors duration-300 min-w-[250px]">
	HotSeat</button>
<button id="5" onclick="window.location.href='/tournament'" class="bg-indigo-600 hover:bg-indigo-700 text-white font-bold text-xl py-3 px-8 rounded-lg transition-colors duration-300 min-w-[250px]">
	Tournament</button>
</div>