<div class="relative z-10 flex justify-center items-center gap-8 w-full h-full">
	<div class="flex flex-col items-center">
		<label for="alias-1" class="text-cyan-200 mb-1">Alias player 1</label>
		<input maxlength="15" id="alias-1" class="text-white bg-slate-800 border-b border-cyan-400 text-center px-3 py-1 rounded-sm focus:outline-none">
	</div>
	<p class="vs text-cyan-200 font-bold">VS</p>
	<div class="flex flex-col items-center">
		<label for="alias-2" class="text-cyan-200 mb-1">Alias player 2</label>
		<input maxlength="15" id="alias-2" class="text-white bg-slate-800 border-b border-cyan-400 text-center px-3 py-1 rounded-sm focus:outline-none">
	</div>
	<div class="mx-10"></div>
	<div class="flex flex-col items-center">
		<label for="alias-3" class="text-cyan-200 mb-1">Alias player 3</label>
		<input maxlength="15" id="alias-3" class="text-white bg-slate-800 border-b border-cyan-400 text-center px-3 py-1 rounded-sm focus:outline-none">
	</div>
	<p class="vs text-cyan-200 font-bold">VS</p>
	<div class="flex flex-col items-center">
		<label for="alias-4" class="text-cyan-200 mb-1">Alias player 4</label>
		<input maxlength="15" id="alias-4" class="text-white bg-slate-800 border-b border-cyan-400 text-center px-3 py-1 rounded-sm focus:outline-none">
	</div>
</div>