<form id="login-form" action="/userauthentication/front/post/login" method="POST" autocomplete="off">
  <div>
    <label for="username">Usuario:</label>
    <input type="text" id="username" name="name" required>
    <!-- El atributo 'name' es importante, será la clave en el servidor -->
  </div>
  <div>
    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="pass" required>
    <!-- El atributo 'name' es importante -->
  </div>
  <div>
    <button type="submit">Register</button>
  </div>
</form>

<script type="module" src="./dist/login.js"></script>

