<!-- <h2>Registrar Usuario</h2>
		<form action="/usermanagement/front/post/create" method="POST" autocomplete="off">
			<div>
				<label for="username">Usuario:</label>
				<input type="text" id="username" name="name" required>
				El atributo 'name' es importante, será la clave en el servidor
			</div>
			<div>
				<label for="password">Contraseña:</label>
				<input type="password" id="password" name="pass" required>
				El atributo 'name' es importante
			</div>
			<div>
				<button type="submit" onclick="window.location.href='/'">Registrar </button>
			</div>
		</form>
		<button onclick="window.location.href='/login'">Log in</button> -->



</head>
<body>
<div class="container">
<h2>Registrar Usuario</h2>
<form action="/userauthentication/front/post/create" method="POST" autocomplete="off">
<div>
<label for="username">Usuario:</label>
<input type="text" id="username" name="name" required>
<!-- El atributo 'name' es importante, será la clave en el servidor -->
</div>
<div>
<label for="password">Contraseña:</label>
<input type="password" id="password" name="pass" required>
<!-- El atributo 'name' es importante -->
</div>
<div>
<button type="submit">Registrar</button>
</div>
</form>
</div>
</body>